# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
.env
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
*.pot
*.sqlite3
media/
staticfiles/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
