{% extends 'base.html' %}
{% block content %}
<div class="max-w-5xl mx-auto px-6 py-32 pt-48">
    <h1 class="text-6xl md:text-8xl font-thin leading-tight tracking-tight text-center mb-16 float-3d">
        Защита персональных данных (ПДн) и соблюдении требований 152‑ФЗ
    </h1>
    <p class="text-xl leading-relaxed mb-12">Специализируюсь на комплексной защите информации в клиниках, санаториях и медицинских центрах. Помогу привести процессы в соответствие с законодательством — быстро, эффективно, во избежание штрафов и репутационных рисков.</p>
    <h2 class="text-4xl font-light mt-20 mb-10">Решаемые задачи для вашей организации</h2>
    <ul class="list-disc pl-5 space-y-4">
        <li>аудит текущей системы защиты ПДн;</li>
        <li>разработка и внедрение ОРД (политики, регламенты, приказы);</li>
        <li>категорирование объектов КИИ;</li>
        <li>обучение персонала основам ИБ;</li>
        <li>подготовка к проверкам Роскомнадзора и ФСТЭК;</li>
        <li>сопровождение при взаимодействии с регуляторами.</li>
    </ul>
    <h2 class="text-4xl font-light mt-20 mb-10">Полное соответствие 152‑ФЗ и требованиям регуляторов</h2>
    <p class="text-xl leading-relaxed mb-12">Оптимизацию затрат. Внедряю только необходимые меры — без лишних расходов на избыточные решения.</p>
    <p class="text-xl leading-relaxed mb-12">Прозрачность и отчётность. На каждом этапе предоставляю понятные отчёты и рекомендации.</p>
    <p class="text-xl leading-relaxed mb-12">Долгосрочную поддержку. Сопровождаю после внедрения: консультирую, актуализирую документы, помогаю при изменениях законодательства.</p>
</div>
{% endblock %}
