{% extends 'base.html' %}
{% block content %}
<div class="max-w-6xl mx-auto px-6 py-32 pt-48">
    <h1 class="text-6xl md:text-8xl font-thin leading-tight tracking-tight text-center mb-16 float-3d">
        Попов Евгений Валерьевич
    </h1>
    <p class="text-3xl text-center mb-8">Эксперт по информационной безопасности для медицинских организаций</p>
    <p class="text-xl text-center mb-16">Официальный представитель DocShell 4.0 в Сочи.</p>
    <p class="text-xl text-center mb-16">Специализируюсь на: соблюдении требований 152‑ФЗ для клиник, санаториев и гостиниц; категорировании объектов критической информационной инфраструктуры (КИИ).</p>
    <div class="text-center">
        <a href="https://t.me/E5041_bot" class="btn-thin px-16 py-6 text-xl rounded-[8px] inline-block">Связаться через @E5041_bot</a>
    </div>
</div>
{% endblock %}
